<!DOCTYPE html>
<html lang="en">


<head>
    <!-- all neccessary libraries -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- include three.js library -->
    <script src='js/three.js'></script>
    <!-- include jsartookit -->
    <script src="jsartoolkit5/artoolkit.min.js"></script>
    <script src="jsartoolkit5/artoolkit.api.js"></script>
    <!-- include threex.artoolkit -->
    <script src="threex/threex-artoolkitsource.js"></script>
    <script src="threex/threex-artoolkitcontext.js"></script>
    <script src="threex/threex-arbasecontrols.js"></script>
    <script src="threex/threex-armarkercontrols.js"></script>
    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- axios.js -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="css/main.css">

    <!-- css -->

    <style>
        body {
            margin: 0;
        }

        canvas {
            position: absolute;
            display: block;
            z-index: -1;
        }

        video {
            position: absolute;
            z-index: -2;
        }

        .logo {
            width: 400px;
        }

        .wrapper {
            margin-top: 20px;
            width: 100%;
            position: absolute;
            display: flex;
            flex-flow: column nowrap;
            /* justify-content: center; */
            align-items: center;
        }

        .search-bar input {
            width: 300px;
            /* color: skyblue; */
        }
    </style>

</head>

<body>
    <div class="wrapper">

        <!-- search bar element -->
        <div id="search-bar">
            <img class="logo" src="./images/FreeGameLogo.PNG" alt="">
            <div class="input">
                <input id="search-box" type="text" v-model="keyword" placeholder=" enter search here" />
                <button id="search-btn" v-on:click="searchBtnOnClick">Search</button>
            </div>
        </div>

        <div id="search-result">
            <button v-if="result.length != 0" v-on:click="result=[]">Clear</button>
            <div v-for="(item,index) in result" :key="index" class="result-item">
                <a :href="item.url">{{item.name}}</a>
                <span class="url">{{item.displayUrl}}</span>
                <span>{{item.snippet}}</span>
            </div>
        </div>
    </div>

    <script type="module">
        import * as THREE from "./THREE/build/three.module.js";
        import { OBJLoader2 } from "./THREE/examples/jsm/loaders/OBJLoader2.js";
        // global variables
        var scene, camera, renderer, clock, deltaTime, totalTime;

        var arToolkitSource, arToolkitContext;

        var markerRoot1;

        var mesh1;
        var globe;


        initialize();
        animate();

        function initialize() {
            scene = new THREE.Scene();
            // create ambient light
            let ambientLight = new THREE.AmbientLight(0xcccccc, 0.5);

            // add ambient light to scene
            scene.add(ambientLight);

            // create camera and add to scene
            camera = new THREE.Camera();
            scene.add(camera);

            //create canvas element
            renderer = new THREE.WebGLRenderer({
                antialias: true,
                alpha: true
            });
            renderer.setClearColor(new THREE.Color('lightgrey'), 0)
            renderer.setSize(window.innerWidth, window.innerHeight);
            renderer.domElement.style.position = 'absolute'
            renderer.domElement.style.top = '0px'
            renderer.domElement.style.left = '0px'
            // add canvas element to DOM
            document.body.appendChild(renderer.domElement);

            clock = new THREE.Clock();
            deltaTime = 0;
            totalTime = 0;

            ////////////////////////////////////////////////////////////
            // setup arToolkitSource
            ////////////////////////////////////////////////////////////

            arToolkitSource = new THREEx.ArToolkitSource({
                sourceType: 'webcam',
            });

            function onResize() {
                arToolkitSource.onResize()
                arToolkitSource.copySizeTo(renderer.domElement)
                if (arToolkitContext.arController !== null) {
                    arToolkitSource.copySizeTo(arToolkitContext.arController.canvas)
                }
            }

            arToolkitSource.init(function onReady() {
                onResize()
            });

            // handle resize event
            window.addEventListener('resize', function () {
                onResize()
            });

            ////////////////////////////////////////////////////////////
            // setup arToolkitContext
            ////////////////////////////////////////////////////////////

            // create atToolkitContext
            arToolkitContext = new THREEx.ArToolkitContext({
                cameraParametersUrl: 'data/camera_para.dat',
                detectionMode: 'mono'
            });

            // copy projection matrix to camera when initialization complete
            arToolkitContext.init(function onCompleted() {
                camera.projectionMatrix.copy(arToolkitContext.getProjectionMatrix());
            });

            ////////////////////////////////////////////////////////////
            // setup markerRoots
            ////////////////////////////////////////////////////////////

            // build markerControls
            markerRoot1 = new THREE.Group();
            scene.add(markerRoot1);
            let markerControls1 = new THREEx.ArMarkerControls(arToolkitContext, markerRoot1, {
                type: 'pattern', patternUrl: "data/hiro.patt",
            })


            function callbackOnLoad(object3d) {
                globe = object3d;
                object3d.position.z = -10;
                scene.add(object3d);
            }
            let loader = new OBJLoader2();

            // load a rotating globe
            loader.load('models/freegameTRUglobe.obj', callbackOnLoad, null, null, null);


            markerRoot1.add(globe);

            let pointLight = new THREE.PointLight(0xffffff, 1, 100);
            pointLight.position.set(0.5, 3, 2);
            // create a mesh to help visualize the position of the light
            pointLight.add(
                new THREE.Mesh(
                    new THREE.SphereBufferGeometry(0.05, 16, 8),
                    new THREE.MeshBasicMaterial({ color: 0xffffff, opacity: 0.5 })
                )
            );
            markerRoot1.add(pointLight);
        }


        function update() {
            // update artoolkit on every frame
            if (arToolkitSource.ready !== false)
                arToolkitContext.update(arToolkitSource.domElement);
        }


        function render() {
            //renders globe to canvas
            renderer.render(scene, camera);
        }

        // is called on refresh... makes globe spin
        function animate() {
            requestAnimationFrame(animate);
            deltaTime = clock.getDelta();
            totalTime += deltaTime;
            globe.rotation.y += 0.005;

            update();
            render();
        }

    </script>
    <script src="./js/main.js"></script>
</body>

</html>